.progressbar {
    height: $progressbar-height;
    overflow: hidden;
    background-color: $progressbar-bg-color;
    border-radius: $progressbar-border-radius;
    box-shadow: $progressbar-box-shadow;
}

.progressbar-indicator {
    float: left;
    width: 0;
    height: 100%;
    text-align: center;
    line-height: $progressbar-height;
    font-size: $progressbar-indicator-font-size;
    color: $progressbar-indicator-color;
    box-shadow: $progressbar-indicator-box-shadow;
    transition: $progressbar-indicator-transition;
}

.progressbar-sm {
    height: $progressbar-height-sm;
    border-radius: $progressbar-border-radius-sm;

    .progressbar-indicator {
        font-size: 0;
    }
}

.progressbar-primary {
    @include progressbar-variant($progressbar-primary-bg);
}

.progressbar-success {
    @include progressbar-variant($progressbar-success-bg);
}

.progressbar-warning {
    @include progressbar-variant($progressbar-warning-bg);
}

.progressbar-danger {
    @include progressbar-variant($progressbar-danger-bg);
}


.progressbars {
    width: 100%;
    height: 1.5em;
    position: relative;

    .node {
        position: absolute;
        z-index: 3;
        top: .35em;
        width: .8em;
        height: .8em;

        &.dot {
            background-color: #FFF;
            -webkit-border-radius: .4em;
            border-radius: .4em;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            border: .25em solid;

            &.active {
                // background-color: #6974A0;
            }
            &.current {

            }
        }

        &.circle {
            border-radius: .4em;
        }

        &.check-circle {
            border-radius: .4em;

            &::after {
                content: '';
                width: .24em;
                height: .4em;
                border-bottom: 1px solid #FFF;
                border-right: 1px solid #FFF;
                -webkit-transform: rotate(45deg);
                -moz-transform: rotate(45deg);
                transform: rotate(45deg);
                position: absolute;
                left: .26em;
                top: .15em;
            }
        }

    }

    .line-bg {
        width: 100%;
        height: .5em;
        border-radius: .25em;
        position: absolute;
        z-index: 1;
        top: .5em;
        background-color: #DEE0E8;

        .line-progress {
            height: 100%;
            background-color: #6974A0;
            border-radius: .25em;
        }
    }

    .info {
        text-align: center;
        font-size: 1em;
        position: absolute;
        top: 1em;
        left: 0;
        transform: translateX(-50%);
    }

    &.progressbars-lg {
        font-size: $progressbars-font-size-lg;
    }
    &.progressbars-sm {
        font-size: $progressbars-font-size-sm;
    }
    &.progressbars-xsm {
        font-size: $progressbars-font-size-sm;

        .line-bg {
            height: .2em;
            border-radius: .1em;

            .line-progress {
                border-radius: .1em;
                height: 100%;
            }
        }
        .node {
            top: .15em;
        }
    }
}
