.progressbar {
    height: $progressbar-height;
    overflow: hidden;
    background-color: $progressbar-bg-color;
    border-radius: $progressbar-border-radius;
    box-shadow: $progressbar-box-shadow;
}

.progressbar-indicator {
    float: left;
    width: 0;
    height: 100%;
    text-align: center;
    line-height: $progressbar-height;
    font-size: $progressbar-indicator-font-size;
    color: $progressbar-indicator-color;
    box-shadow: $progressbar-indicator-box-shadow;
    transition: $progressbar-indicator-transition;
}

.progressbar-sm {
    height: $progressbar-height-sm;
    border-radius: $progressbar-border-radius-sm;

    .progressbar-indicator {
        font-size: 0;
    }
}

.progressbar-primary {
    @include progressbar-variant($progressbar-primary-bg);
}

.progressbar-success {
    @include progressbar-variant($progressbar-success-bg);
}

.progressbar-warning {
    @include progressbar-variant($progressbar-warning-bg);
}

.progressbar-danger {
    @include progressbar-variant($progressbar-danger-bg);
}


.progressbars {
    width: 100%;
    position: relative;
    font-size: 20px;

    .circle {
        width: .8em;
        height: .8em;
        -webkit-border-radius: .5em;
        border-radius: .5em;
        position: absolute;
        top: -.15em;
        z-index: 3;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        border: .25em solid;
        background-color: #FFF;

        &.active {
            // background-color: #6974A0;
        }
        &.current-dot {
            
        }


    }

    .line-bg {
        width: 100%;
        position: absolute;
        // top: 1.5px;
        z-index: 1;
        background-color: #DEE0E8;

        .line-progress {
            height: 100%;
            background-color: #6974A0;
        }
    }

    &.progressbars-sm {
        .line-bg {
            height: .5em;
            border-radius: .25em;
        }
        .line-progress {
            border-radius: .25em;
        }
    }
    &.progressbars-lg {

    }
}
