.slideup {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: $slide-bg-color;
    min-height: $slide-min-height;
    max-height: $slide-max-height;
    z-index: $z-index-slide;
}

.slideup-header {
    padding: $slide-header-padding;
    @include border-bottom;
}

.slideup-body {
    flex: 1;
    overflow-y: scroll;
    padding: $slide-body-padding;
}

.slide-up-enter {
    transform: translate3d(0, 100%, 0);
}

.slide-up-enter-active {
    animation: slideInUp $slide-animation-enter-duration $slide-animation-enter-function;
}

.slide-up-leave-active {
    animation: slideOutDown $slide-animation-leave-duration $slide-animation-leave-function;
}
