.sticky-affix {
    position: fixed;
    z-index: 999;
}

.demo-sticky {
    display: inline-block;
    color: #fff;
    padding: 10px 30px;
    text-align: center;
    background: rgba(0,153,229,.9);
}
