// 上边框
@mixin border-top() {
    background-image: $border-image;
    background-size: 100% 1px;
    background-repeat: no-repeat;
    background-position: 0 0;
}

// 下边框
@mixin border-bottom() {
    background-image: $border-image;
    background-size: 100% 1px;
    background-repeat: no-repeat;
    background-position: 0 100%;
}

// 上下边框
@mixin border-vertical() {
    background-image: $border-image, $border-image;
    background-size: 100% 1px;
    background-repeat: no-repeat, no-repeat;
    background-position: 0 0, 0 100%;
}
