// Button sizes
@mixin button-size($padding-y, $padding-x, $font-size, $border-radius) {
    padding: $padding-y $padding-x;
    font-size: $font-size;
    border-radius: $border-radius;
}

// Button variant
@mixin button-variant($color, $bgColor, $borderColor) {
    $active-background: darken($bgColor, 6%);
    $active-border: darken($borderColor, 6%);

    color: $color;
    background-color: $bgColor;
    border-color: $borderColor;

    &:active,
    &.active {
        color: $color;
        background-color: $active-background;
        border-color: $active-border;
    }

    &.disabled,
    &:disabled {
        &:hover {
            background-color: $bgColor;
            border-color: $borderColor;
        }
    }
}

// Button outline variant
@mixin button-outline-variant($color) {
    color: $color;
    border-color: $color;
    background-color: transparent;

    &:active,
    &.active {
        color: #fff;
        background-color: $color;
    }

    &.disabled,
    &:disabled {
        &:hover {
            background-color: transparent;
            border-color: $color;
        }
    }
}
