// Colors
$brand-primary: #2196F3 !default;
$brand-secondary: #f86c2e !default;
$brand-success: #4cb452 !default;
$brand-info: #2b71b5 !default;
$brand-warning: #fab83a !default;
$brand-danger: #f97964 !default;
$brand-pure: #fff !default;

$gray-dark: #373a3c !default;
$gray: #55595c !default;
$gray-light: #999 !default;
$gray-lighter: #eceeef !default;
$gray-lightest: #f4f4f4 !default;

// Border radius
$border-radius: 2px !default;
$border-radius-lg: 4px !default;
$border-radius-sm: 1px !default;

// Cursor
$cursor-disabled: not-allowed !default;
$cursor-pointer: pointer !default;

// Base
$font-family-base: -apple-system, BlinkMacSystemFont, "Microsoft YaHei", "WenQuanYi Micro Hei", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif !default;
$line-height-base: 1.43 !default;
$body-color: #333 !default;
$body-bg: #f0eff5 !default;
$text-muted: $gray-light !default;

$font-size-root: 12px !default;
$font-size-base: 1rem !default;
$font-size-lg: 1.4rem !default;
$font-size-sm: .875rem !default;

$spacer:   1rem !default;
$spacer-x: $spacer !default;
$spacer-y: $spacer !default;
$spacer-gap: $spacer / 2 !default;

// Border
$border-color: #d9d9d9 !default;
$border-image-top: linear-gradient(to bottom, $border-color, $border-color 50%, transparent 0) !default;
$border-image-bottom: linear-gradient(to top, $border-color, $border-color 50%, transparent 0) !default;


// Links
$link-color: $brand-primary !default;
$link-decoration: none !default;
$link-hover-color: darken($link-color, 15%) !default;
$link-hover-decoration: underline !default;

// Tables
$table-bg: $brand-pure !default;
$table-cell-padding: .75rem !default;
$table-sm-cell-padding: .3rem !default;

// Buttons
$btn-opacity-disabled: .65 !default;

$btn-font-size: $font-size-base !default;
$btn-padding-x: 1.6rem !default;
$btn-padding-y: .7rem !default;
$btn-border-radius: $border-radius !default;

$btn-font-size-sm: $font-size-sm !default;
$btn-padding-x-sm: .6rem !default;
$btn-padding-y-sm: .2rem !default;
$btn-border-radius-sm: $border-radius-sm !default;

$btn-font-size-lg: $font-size-lg !default;
$btn-padding-x-lg: 2rem !default;
$btn-padding-y-lg: 1rem !default;
$btn-border-radius-lg: $border-radius-lg !default;

$btn-primary-color: $brand-pure;
$btn-primary-bg: $brand-primary !default;
$btn-primary-border: $brand-primary !default;

$btn-secondary-color: $brand-pure;
$btn-secondary-bg: $brand-secondary !default;
$btn-secondary-border: $brand-secondary !default;

$btn-default-color: $gray;
$btn-default-bg: #fff !default;
$btn-default-border: $border-color !default;

// Group/Cell
$group-bg-color: $brand-pure !default;
$group-margin: 1rem 0 0 0 !default;

$group-title-padding: .5rem 1rem !default;

$cell-color: $body-color !default;
$cell-bg-color: $brand-pure !default;
$cell-padding: 1rem !default;
$cell-gap-left: 1rem !default;
$cell-children-gap: 1rem !default;

$cell-bg-color-active: $gray-lightest !default;
$cell-bg-color-disabled: $border-color !default;

$cell-arrow-color: #818a91 !default;
$cell-arrow-margin: 0 0 0 $spacer-gap !default;

// Navbar
$navbar-height: 44px !default;
$navbar-line-height: $navbar-height !default;
$navbar-padding: 0 !default;

$navbar-header-flex: .5 !default;
$navbar-header-padding: 0 1rem !default;
$navbar-body-flex: 1 !default;
$navbar-body-padding: 0 1rem !default;
$navbar-footer-flex: .5 !default;
$navbar-footer-padding: 0 1rem !default;

$navbar-primary-color: $brand-pure !default;
$navbar-primary-bg-color: $brand-primary !default;

$navbar-default-color: #666 !default;
$navbar-default-bg-color: $brand-pure !default;

// Tabbar
$tabbar-bg-color: $brand-pure !default;
$tabbar-margin-bottom: 1rem !default;
$tabbar-height: $navbar-height !default;
$tabbar-line-height: $tabbar-height !default;

$tabbar-item-border-width: 2px !default;
$tabbar-item-color-active: $brand-primary !default;
$tabbar-item-border-color-active: $brand-primary !default;

// Toast
$toast-bg: rgba(0, 0, 0, .6) !default;
$toast-color: $brand-pure !default;
$toast-font-size: 1.1rem !default;
$toast-border-radius: 4px !default;
$toast-border-radius-lg: 6px !default;
$toast-padding: .8rem 1.2rem !default;
$toast-padding-lg: 1rem 3.5rem 1.5rem !default;
$toast-position-gap: 4rem !default;

$toast-icon-font-size: 4rem !default;
$toast-icon-margin-bottom: .5rem !default;

// Checkbox
$checkbox-padding: 3px !default;
$checkbox-color: $brand-pure !default;
$checkbox-bg-color: $brand-pure !default;
$checkbox-border-color: #ddd !default;

$checkbox-bg-color-checked: $brand-primary !default;
$checkbox-border-color-checked: $brand-primary !default;
$checkbox-bg-color-disabled: #dfdfdf !default;
$checkbox-border-color-disabled: $checkbox-border-color !default;


$checkbox-addon-font-size: 1.2rem !default;

$checkbox-label-gap: 2px !default;

$checkbox-square-border-radius: $border-radius !default;

// Toggle
$toggle-addon-size: 16px !default;
$toggle-addon-bg-color: $brand-pure !default;
$toggle-addon-bg-color-checked: $brand-primary !default;
$toggle-addon-opacity-disabled: .6 !default;

$toggle-bg-color: #e7eaec !default;
$toggle-width: 46px !default;
$toggle-padding: 3px !default;
$toggle-border-radius: $toggle-addon-size !default;

// Number
$number-border-color: $brand-primary !default;

$number-btn-size: 22px !default;
$number-btn-line-height: $number-btn-size - 2 !default;

$number-plus-color: $brand-pure !default;
$number-plus-bg-color: $brand-primary !default;
$number-plus-bg-color-active: darken($number-plus-bg-color, 6%) !default;

$number-minus-color: $brand-primary !default;
$number-minus-bg-color: $brand-pure !default;
$number-minus-color-active: $brand-pure !default;
$number-minus-bg-color-active: $brand-primary !default;

$number-input-bg-color: $brand-pure !default;
$number-input-border-color: #d9d9d9 !default;
$number-input-padding: .3rem .8rem !default;
$number-input-margin: 0 2px !default;
$number-input-bg-color-disabled: #eee !default;

// InputText
$input-text-icon-gap: 1rem !default;

// InputTeaxtarea
$textarea-padding: .6rem !default;

$textarea-counter-scale: .8 !default;
$textarea-counter-color: $text-muted !default;
$textarea-counter-padding: 0 $textarea-padding / $textarea-counter-scale 0.2rem 0 !default;

// Selector
$selector-color-active: $brand-primary !default;
