.cell {
    display: block;
    overflow: hidden;
    text-decoration: none;
    padding: $cell-padding;
    @include border-bottom();
    background-position: $cell-gap-left 100%;
    background-color: $group-bg-color;
}
