.cell {
    color: inherit;
    display: flex;
    align-items: center;
    overflow: hidden;
    text-decoration: none;
    padding: $cell-padding;
    @include border-bottom();
    background-position: $cell-gap-left 100%;
    background-color: $cell-bg-color;
}

.cell-link {
    &:active,
    &.active {
        &:focus {
            outline: 0;
            background-image: none;
        }

        background-color: $cell-bg-color-active;
    }

    &:hover,
    &:focus {
        text-decoration: none;
    }
}

.cell-body {
    flex: 1;
    display: block;
}

.cell-arrow {
    color: $cell-arrow-color;
    margin: $cell-arrow-margin;
}
