.checkbox,
.radio {
    cursor: pointer;
    user-select: none;
    display: inline-block;
}

// shape
.checkbox-square {
    .checkbox-addon {
        border-radius: $checkbox-square-border-radius;
    }
}

.checkbox-circle {
    .checkbox-addon {
        border-radius: 50%;
    }
}


// checkbox
.checkbox-input,
.radio-input {
    display: none;

    &:checked + .checkbox-addon,
    &:checked + .radio-addon {
        border-color: $checkbox-border-color-checked;
        background-color: $checkbox-bg-color-checked;

        i {
            visibility: visible;
        }
    }

    &:disabled + .checkbox-addon,
    &:disabled + .radio-addon, {
        border-color: $checkbox-border-color-disabled;
        background-color: $checkbox-bg-color-disabled;
    }
}

// addon
.checkbox-addon,
.radio-addon {
    display: inline-block;
    color: $checkbox-color;
    padding: $checkbox-padding;
    background-color: $checkbox-bg-color;
    border: 1px solid $checkbox-border-color;
    transition: all .3s ease;
}

.checkbox-addon {
    line-height: 1;

    i {
        visibility: hidden;
        font-size: $checkbox-addon-font-size;
        width: $checkbox-addon-font-size;
        height: $checkbox-addon-font-size;
    }
}

.radio-addon {
    border-radius: 50%;
    padding: 5px;
    line-height: 8px;

    i {
        width: 10px;
        height: 10px;
        background: $checkbox-color;
        border-radius: 50%;
        display: inline-block;
        visibility: hidden;
    }
}

// text
.checkbox-label,
.radios-label {
    display: inline-block;
    margin-left: $checkbox-label-gap;
}

.checkbox + .checkbox,
.radio + .radio {
    margin-left: $checkbox-gap;
}
