.navigation {
    display: flex;
    align-items: center;
    @include border-top();
    height: $navigation-height;
    padding: $navigation-padding;
    background-color: $navigation-bg-color;
}

.navigation-item {
    flex: 1;
    text-align: center;
    display: flex;
    color: $navigation-color;
    flex-direction: column;
    justify-content: center;

    &.active {
        color: $navigation-color-active;
    }
}

.navigation-item-icon {
    text-align: center;
}

.navigation-item-label {
    &:not(:first-child) {
        margin-top: $navigation-margin;
        transform: scale($navigation-label-scale);
    }
}
