.flex {
    overflow: hidden;
    display: flex;
}

.flex-vertical {
    height: 100%;
    flex-direction: column;
}


.flex-item {
    flex: 1;
    overflow: auto;
}


.flex-align-top { align-items: flex-start; }
.flex-align-middle { align-items: center; }
.flex-align-bottom { align-items: flex-end; }

.flex-justify-between { justify-content: space-between; }
